{% extends 'home.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
</head>
<body>
  <div class="container">
    <h1> Your profile details </h1>
    <hr>
    {% if profile %}
      {% if profile.profile_image %}
        <img src="{{ profile.profile_image.url }}" width="240" alt="profile_pic">
      {% endif %}
      <p>Username: {{profile.user}}</p>
      <p>Profile name: {{profile.profile_name}}</p>
      <p>Title: {{profile.title}}</p>
      <p>Gender: {{profile.gender}}</p>
      <p>First name: {{profile.first_name}}</p>
      <p>Last name: {{profile.last_name}}</p>
      <p>Shirt size: {{profile.shirt_size}}</p>
      <p>Address: {{profile.area}}</p>
      <p>Occupation: {{profile.occupation}}</p>
      <p>Institution: {{profile.Institution}}</p>
      <!-- <p>{{profile.birth_day}}</p> -->
      <p>Phone number: {{profile.phone}}</p>
      <p>Qualification: {{profile.qualification}}</p>
    {% else %}
      {{errmsg}}
      <h3><a href="{% url 'profile' %}">Create </a>your profile</h3>
    {% endif %}
    <a href="{% url 'edit_profile' %}">Edit profile</a>
  </div>
</body>
</html>
{% endblock %}
